langchain
langgraph
langchain-ollama
langchain-core
pydantic
typing-extensions
openai-whisper
webrtcvad
sounddevice
numpy
noisereduce
scipy
# Web & Data
requests
pyyaml
duckduckgo-search
pillow
# Deployment & Environment
pexpect
django-environ
# TTS
coqui-tts
pyttsx3

