langchain
langgraph
langchain-ollama
langchain-core
pydantic
typing-extensions
openai-whisper
webrtcvad
sounddevice
numpy
noisereduce
scipy
# Web & Data
requests
pyyaml
ddgs
pillow
# Deployment & Environment
pexpect
django-environ
# TTS
coqui-tts
pyttsx3
coqui-tts[codec]
# ai models
torch 
torchvision 
torchaudio
# Transformers
transformers==4.57